@using Pbt.Individual.Web.Startup
@{
    ViewBag.Title = L("Pages_Orders");
 
}
@section scripts
{
     <script src="~/view-resources/Views/Orders/Index.js" asp-append-version="true"></script>
}
@section styles
{
    <style>
        hr {
        margin-top: 0px;
        margin-bottom: 0px;
        }
    </style>
}

 
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Pages_Orders")</h1>
            </div>
            <div class="col-sm-6 text-right">
               
            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12">
                                @await Html.PartialAsync("~/Views/Orders/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body custom-card-body">
                        <div class="table-responsive">
                            <table id="OrdersTable" class="table table-striped table-bordered table-parent">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th>@L("WaybillNumber")</th>
                                        <th>@L("Status")</th>
                                        <th>@L("BagCoverWeight")</th>
                                        <th>@L("Weight")</th>
                                        <th>@L("Volume")</th>
                                        <th colspan="2" class="text-center">@L("ServiceFee")</th>
                                        <th>@L("Note")</th>
                                        <th>@L("TimeLine")</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 