@using Abp.Authorization.Users
@{
    ViewBag.Title = L("UpdatePassword");
}
@section scripts
{
    <script src="~/view-resources/Views/Users/ChangePassword.js" asp-append-version="true"></script>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1><i class="fas fa-key"></i> @L("UpdatePassword")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card card-outline shadow-sm">
                    <div class="card-header text-center bg-light">
                        <img src="~/img/change_password.png" alt="Password Icon" class="img-fluid" style="max-width: 80px; opacity: 0.8;">
                    </div>
                    <div class="card-body">
                        <p class="text-center mb-4">Cập nhật mật khẩu</p>
                        
                        <form id="ChangePassword" autocomplete="off" class="form-horizontal">
                            <div class="form-group row mb-3">
                                <div class="col-4 text-left align-self-center">
                                    <label class="col-form-label font-weight-bold">@L("CurrentPassword")</label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control form-control-sm" name="CurrentPassword" id="CurrentPassword"
                                               placeholder="Nhập mật khẩu hiện tại" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group row mb-3">
                                <div class="col-4 text-left align-self-center">
                                    <label class="col-form-label font-weight-bold">@L("Password")</label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control form-control-sm" name="NewPassword" id="NewPassword" 
                                               placeholder="Nhập mật khẩu mới" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group row mb-4">
                                <div class="col-4 text-left align-self-center">
                                    <label class="col-form-label font-weight-bold">@L("ConfirmPassword")</label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input type="password" class="form-control form-control-sm" name="ConfirmNewPassword" id="ConfirmNewPassword"
                                               placeholder="Xác nhận mật khẩu" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary px-4 py-2 mr-2">
                                        <i class="fas fa-save mr-2"></i>@L("Save")
                                    </button>
                                    <a href="/home" class="btn btn-secondary px-4 py-2 ml-2">
                                        <i class="fas fa-times mr-2"></i>@L("Cancel")
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>