@using Pbt.Individual.Web.Startup
@{
    ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
}

@section scripts
{
    @* <script src="~/view-resources/Views/_Bundles/home-index.min.js" asp-append-version="true"></script> *@
    <script src="~/view-resources/Views/Home/index.js" asp-append-version="true"></script> 
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("HomePage")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class=" col-12">
            <h3 class="text-center fw-bold text-uppercase text-danger fs-5 text-strong" style="height: 50px;">
                <b> Hotline | Zalo: <a href="https://zalo.me/0566268999" class="text-decoration-none text-danger"
                                           target="_blank">0566.268.999</a> </b>
                </h3>
            </div>
        </div>
        
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Tổng số kiện</span>
                        <span class="info-box-number">
                            @Model.PackageSummary.Total
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Đang vận chuyển quốc tế</span>
                        <span class="info-box-number">@Model.PackageSummary.TotalShipping</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Đã về kho Việt Nam</span>
                        <span class="info-box-number">@Model.PackageSummary.TotalInVietNameWarehouse</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1">
                        <i class="fas fa-truck"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Đang giao</span>
                        <span class="info-box-number">@Model.PackageSummary.TotalDeliveryInProgress</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Danh sách kiện gần đây</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0" id="orders-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã vận đơn</th>
                                        <th>Mã kiện</th>
                                        <th>Trạng thái</th>
                                        <th>Kho đích</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="@Url.Action("Create", "Orders")" class="btn btn-sm btn-info float-left">Khai báo vận đơn</a>
                        <a href="@Url.Action("Index", "Orders")" class="btn btn-sm btn-secondary float-right">Xem đầy đủ</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
    
        </div>
    </section>
